<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.materialplanning.vodafone.mpapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Material Planning"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginActivity" />
        <activity
            android:name=".homeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".itemsActivity"
            android:label="@string/title_activity_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".projectsActivity"
            android:label="@string/title_activity_technical_plans"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addUserActivity"
            android:label="@string/title_activity_add_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".itemViewActivity"
            android:label="@string/title_activity_item_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reportsActivity"
            android:label="@string/title_activity_reports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fileChooserActivity"
            android:label="@string/title_activity_file_chooser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".siteActivity"
            android:label="@string/title_activity_rollout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".projectViewActivity"
            android:label="@string/title_activity_technical_plan_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scenariosActivity"
            android:label="@string/title_activity_scenarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scenarioViewActivity"
            android:label="@string/title_activity_scenario_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addScenarioActivity"
            android:label="@string/title_activity_add_scenario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addProjectActivity"
            android:label="@string/title_activity_add_technical_plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addItemActivity"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addItemsToScenarioActivity"
            android:label="@string/title_activity_add_items_to_scenario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".technicalPlansActivity"
            android:label="@string/title_activity_technical_plans"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addProjectToTechnicalPlanActivity"
            android:label="@string/title_activity_add_project_to_technical_plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prvViewActivity"
            android:label="@string/title_activity_prv_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".billOfMaterialActivity"
            android:label="@string/title_activity_bill_of_material"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>